/*Reset*/
html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
   font:1.6rem sans-serif;
   margin:0;
   padding:0;
}

*{
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

header #navbar img{
    max-width: 12rem;
    margin-left: 20rem;
    margin-top: 0.6rem;
}

#navbar {
    overflow: hidden;
    background-color: rgb(219, 219, 219);
    width: 100%;
}

#navbar ul{
    margin: -5rem 0rem 0rem 40rem;
    position: fixed;
}

#navbar ul li{
    display: inline-block;
}
  
#navbar a {
    display: inline-block;
    color: #222;
    text-align: center;
    padding: 16px 29px;
    text-decoration: none;
    font-size: 17px;
}
  
#navbar .active, #navbar a:hover {
    background-color: #222;
    color: #fff;
}

header #loop{
    position: absolute;
    margin: -4.5rem 0 0 105rem;
    cursor: pointer;
}

#section1 img{
    max-width: auto;
    width: 168.6rem;
}

#section1 p{
    position: absolute;
    margin: -36rem 0 0 32rem;
    font-size: 10rem;
    color: #fff;
    font-weight: bold;
}

#guide_des_stations{
    padding: 0.1rem;
}

#guide_des_stations p{
    text-align: center;
    margin-top: 10rem;
    font-size: 4rem;
    font-weight: bold;
    color: grey;
}

#grid{
    margin: -20rem 0 0 -1rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20rem 0rem 0rem 5rem;
}

#grid img{
    padding: 0.3rem;
    max-width: 30rem;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0 93%);
}


#grid p{
    color: #222;
    font-size: 1.6rem;
    margin: 27rem 0rem 0rem -30rem;
    padding: 0.2rem;
    font-weight: bold;
    text-align: center;
}

span{
   font-weight: lighter;
}

footer{
    background-color: #222;
    padding: 15rem;
}

footer h1{
    text-align: center;
    padding: 17.8rem;
    color: #fff;
    font-size: 4rem;
}

footer #coordonnees p{
    padding: 1rem;
    position: relative;
    color: #fff;
    display: inline-block;
    margin: 30rem 0rem 0rem 16rem;
}

footer #coordonnees{
    margin: -42rem 0rem 0rem 0rem;
}

footer #coordonnees p a{
    text-decoration: none;
    color: #fff;
}

footer #copyright{
    color: #fff;
    margin: 6rem 0rem 0rem 61rem ;
}

